<% flash.each do |key, value| %>
  <div class="d-flex justify-content-center">
    <div class="<%= flash_class(key.to_sym) %> text-center alert-dismissible fade show col-8", role: "alert" >
      <%= value %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>